VITE_SUPABASE_URL= https://kfznqmfzkwmgydjafpls.supabase.co
VITE_SUPABASE_ANON_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtmem5xbWZ6a3dtZ3lkamFmcGxzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIyODMyNDcsImV4cCI6MjA5Nzg1OTI0N30.RmnH4vxVpng2HVYj53IrpzCq0kxONreJZEpbwG7ZNI0
